data
__pycache__
.ipynb_aml_checkpoints
.DSD_store
result
*.amlignore
*.amlignore.amltmp
.ipynb_aml_checkpoints/ 
*.amltmp 
*.amltemp
output/
output-*/
helm_jsons/
data-reeval-multi/
*.pkl
*.json
*.parquet
data/