traces
.results*/
.logs*/
*tmp*/
*tmp*
log*
log*/
.env*
.config/
__pycache__/
traces/
lunette/
.lunette_home/
output/
.llm_cache/
output*/
fixable_output/
log/
results/
.DS_Store
.tmp/
logs/
monitor_logs/
tmp_*/
new_traces/
.hal_data/
node_modules

results/
output/
results
output
eval_traces/
eval_response_matrix/